@font-face {
  font-family: 'Curlz MT';
  src: url('../assets/fonts/CurlzMT.woff2') format('woff2'),
  url('../assets/fonts/CurlzMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}