.menu {
  display: flex;
}

.menu__list {
  display: flex;
}

.menu__item {
  list-style: none;
  min-width: 200px;
  text-align: center;
  background-image: linear-gradient(#5c7fff, blue);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 3px;
  & a {
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
    transition: 0.4s;
    &:hover {
      color: #2aff8a;
    }
  }
}

