extends ./layout/default.pug

block variables
    - var title = 'Контакты'
    - var head1 = 'Информация для связи'
    - var content = 'Контактная информация: адрес, почта, телефон'


block prepend content
    h2 Карты